body{
margin:0;
padding:16px;
background-color:#404040;
}

.container {
}

.a-center {
width:640px;
margin:auto;
}

#logo{
color:#d88;
font-size:16px;
position:absolute;
}	

#status-block {
min-height:72px;
}

#loader-animation{
float:right;
}

#status-text{
padding-top:18px;
font-size:12px;
color:#fff;
}

#status-text a{
color:#4ac;
}

#game-dispay{
background-color:#fff;
box-shadow: 0 0 10px rgba(0,0,0,0.8); /* Параметры тени */
border-radius:4px;
}
